<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="jansAuthServer" parallel="false">

    <parameter name="serverUri" value="https://${test.server.name}"/>
    <parameter name="authorizePath" value="restv1/authorize"/>

    <listeners>
        <listener class-name="io.jans.ca.server.JansUnitTestsListener"/>
    </listeners>

    <test name="HealthCheckTest" enabled="true">
        <classes>

        </classes>
    </test>
</suite>
