<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="oxElevenClient">
    <parameter name="generateKeyEndpoint" value="https://jenkins-dev1.jans.io/jans-eleven/restv1/generateKey"/>
    <parameter name="signEndpoint" value="https://jenkins-dev1.jans.io/jans-eleven/restv1/sign"/>
    <parameter name="verifySignatureEndpoint" value="https://jenkins-dev1.jans.io/jans-eleven/restv1/verifySignature"/>
    <parameter name="deleteKeyEndpoint" value="https://jenkins-dev1.jans.io/jans-eleven/restv1/deleteKey"/>
    <parameter name="signingInput" value="Signing Input"/>
    <parameter name="sharedSecret" value="Secret"/>
    <parameter name="testModeToken" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/>

    <!--    <parameter name="generateKeyEndpoint" value="http://localhost:8080/jans-eleven/restv1/generateKey"/>-->
    <!--    <parameter name="signEndpoint" value="http://localhost:8080/jans-eleven/restv1/sign"/>-->
    <!--    <parameter name="verifySignatureEndpoint" value="http://localhost:8080/jans-eleven/restv1/verifySignature"/>-->
    <!--    <parameter name="deleteKeyEndpoint" value="http://localhost:8080/jans-eleven/restv1/deleteKey"/>-->
    <!--    <parameter name="signingInput" value="Signing Input"/>-->
    <!--    <parameter name="sharedSecret" value="Secret"/>-->
    <!--    <parameter name="testModeToken" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"/>-->

    <test name="PKCS11 Rest Service Test (HTTP)" enabled="true">
        <classes>
            <class name="io.jans.eleven.PKCS11RestServiceTest"/>
        </classes>
    </test>
</suite>